Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: !Sub "${AWS::StackName}-LaunchTemplate"
      LaunchTemplateData:
        MetadataOptions:
          HttpEndpoint: enabled
          HttpTokens: required  # Disables IMDSv1
          HttpPutResponseHopLimit: 2
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeType: gp3  # Sets RootVolumeType to gp3
              VolumeSize: 30    # Adjust size as needed
