<!-- views/partials/header.ejs -->
<header>
    <div class="logo-container">
        <a href="/">
            <img src="/images/dorchin-logo.png" alt="Dorchin Logo" class="logo">
        </a>
    </div>
</header>