<!-- views/player.ejs -->

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خُنُکُو - بازیکن</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Include Header -->
    <% include ../../../../views/partials/header.ejs %>

        <!-- Player Page Content -->
        <!-- ... -->

        <!-- Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/games/khonokoo/js/player.js"></script>
</body>

</html>